* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #011e11;
    height: 100vh;
}

h1, p {
    color: white;
}

.outer-div {

}

.inner-div-1 {
    width: 50%;
    position: absolute;
    top: 40%;
    padding: 10px;
}

.inner-div-2 {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 10px;
}

img {
    max-width: 100%;
}